/* -*- Mode: CSS; css-indent-offset: 2 -*- */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.header .dates {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #EEE;
}

#content {
  margin-left: 1em;
  margin-top: 5px;
  margin-right: 1em;
  margin-bottom: 5px;
}

@media all and (min-width: 48em) {
  body.normalcols #content {
    column-count: 2;
    column-gap: 1em;
    -moz-column-count: 2;
    -moz-column-gap: 1em;
    -webkit-column-count: 2;
    -webkit-column-gap: 1em;
  }

  .col1,
  .col2 {
    flex: 1;
    min-width: 40%;
  }

  .bugs .divider {
    width 1%;
    margin: 1em;
    border-left: 1px solid #EEE;
  }

  .sidebar {
    float: left;
    width: 18em;
    padding-right: 0.5em;
  }

  .maincontent {
    padding-left: 0.5em;
    display: inline-block;
    width: calc(100% - 19em);
  }
}

h1, h2 {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

h2 {
  font-size: 120%;
}

h2.standalone {
  margin-bottom: 0.7em;
  border-bottom: 1px solid #CCC;
}

h3 {
  margin: 0;
  font-size: 100%;
  font-weight: 700;
}

h4.posthead {
  display: inline;
  font-size: 100%;
  font-weight: 550;
}

h2 a, h3 a {
  text-decoration: none;
}

.subhead {
  font-family: serif;
  font-style: italic;
  font-weight: normal;
}

p {
  margin-top: 0.3em;
  margin-bottom: 0.8em;
}

#logout, #login {
  display: inline;
}

#logout-button,
#login-button {
  display: inline;
}

.fullwidth {
  width: 100%;
  max-width: 100%;
}

.keeptogether {
  display: inline-block;
  width: 100%;
}

.bordered {
  display: inline-block;
  width: 100%;
  border: 1px solid #CCC;
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 5px;
  margin-top: 0;
  margin-bottom: 0.8em;
}

ul.bordered,
ol.bordered {
  list-style-type: none;
}

ul.bordered > li,
ol.bordered > li {
  margin: 0;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.postdata,
.prefdata {
  margin-left: 52px;
}

.preferences form {
  margin-top: 2em;
  margin-bottom: 4em;
}

#previewInner .postdetail {
  border-bottom: none;
}

.postdetail {
  border-bottom: 1px solid #CCC;
}

.postlistdetail .postdata {
  border-bottom: 1px solid #CCC;
  padding-top: 2px;
  margin-top: 2px;
}

.postlistdetail:last-child .postdata {
  border-bottom: none;
  padding-top: 0;
  margin-top: 0;
}

.postdata .glyphicon {
  margin-right: 0.5em;
}

.glyphicon.status-notstarted {
  color: #d62728;
}
.glyphicon.status-inprogress {
  color: #ff7f0e;
}
.glyphicon.status-inreview {
  color: #2ca02c;
}


.postdate {
  float: right;
  font-size: smaller;
  text-align: right;
  font-family: serif;
  font-style: italic;
}

img {
  border: 0;
}

.feedlink {
  display: inline-block;
  padding-left: 2px;
}

.editpost {
  background-color: #ECECEC;
}

.bugpost {
  margin: 1.5em auto;
  background-color: #428BCA;
  color: #EEE;
  border: none;
  padding: 1em;
}

.bugpost select,
.bugpost textarea,
.bugpost #previewOuter a,
.bugpost .postdetail a,
.bugpost .bug a {
  background-color: #428BCA;
  color: #EEE;
}

.bugpost #previewOuter a,
.bugpost .postdetail a,
.bugpost .bug a {
  text-decoration: underline;
}

.bugpost textarea {
  background-color: #EEE;
  color: #333;
}

.bugheader {
  display: none;
}

.bugs {
  font-size: small;
  display: flex;
}

.bugs .summary {
  font-size: smaller;
  margin-bottom: 0.5em;
}

.bugs h3 {
  margin-top: 0px;
}

.buglist {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

.buglist > li {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.bug {
  margin-top: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
}

.bugpost input[type="button"],
.bugpost input[type="submit"] {
  float: right;
  margin-left: 0.5em;
}

#hide_button {
  margin-right: 1.5em;
}

textarea {
  border: 1px solid #CCC;

  /* Make resizeable textareas in Firefox float over other content rather than
     under, see bug 563440 */
  position: relative;
}

.hidden {
  display: none;
}

.right-note {
  float: right;
  font-size: smaller;
}

.right-note a {
  color: inherit !important;
}

.note {
  width: 80%;
  width: calc(100% - 30px);
  margin: 5px 15px;
  background-color: #C9F2E7;
}
