/* -*- Mode: CSS; css-indent-offset: 2 -*- */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#header {
  text-align: center;
  background-color: #CCC;
  padding-top: 1px;
  padding-bottom: 3px
}

#content {
  margin-left: 1em;
  margin-top: 5px;
  margin-right: 1em;
  margin-bottom: 5px;
}

.newlines {
  white-space: pre-line;
}

@media all and (min-width: 48em) {
  body.normalcols #content {
    column-count: 2;
    column-gap: 1em;
    -moz-column-count: 2;
    -moz-column-gap: 1em;
    -webkit-column-count: 2;
    -webkit-column-gap: 1em;
  }

  #col1 {
    float: left;
    width: 50%;
    padding-right: 0.5em;
  }

  #col2 {
    padding-left: 0.5em;
    display: inline-block;
    width: 50%;
  }
}

h1, h2 {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

h2 {
  font-size: 120%;
}

h2.standalone {
  margin-bottom: 0.7em;
  border-bottom: 1px solid #CCC;
}

h3 {
  margin: 0;
  font-size: 100%;
  font-weight: 700;
}

h4.posthead {
  display: inline;
  font-size: 100%;
  font-weight: 550;
}

h2 a, h3 a {
  text-decoration: none;
}

.subhead {
  font-family: serif;
  font-style: italic;
  font-weight: normal;
}

p {
  margin-top: 0.3em;
  margin-bottom: 0.8em;
}

#logout, #login {
  display: inline;
}

#logout-button,
#login-button {
  display: inline;
}

.fullwidth {
  width: 100%;
}

.keeptogether {
  display: inline-block;
  width: 100%;
}

.bordered {
  display: inline-block;
  width: 100%;
  border: 1px solid #CCC;
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 5px;
  margin-top: 0;
  margin-bottom: 0.8em;
}

ul.bordered,
ol.bordered {
  list-style-type: none;
}

ul.bordered > li,
ol.bordered > li {
  margin: 0;
}

.postdata {
  margin-left: 0.5em;
}

.postlistdetail {
  border-top: 1px solid #CCC;
  padding-top: 2px;
  margin-top: 2px;
  font-size: smaller;
}

.postlistdetail:first-child {
  border-top: none;
  padding-top: 0;
  margin-top: 0;
}

.postdate {
  float: right;
  font-size: smaller;
  text-align: right;
  font-family: serif;
  font-style: italic;
}

img {
  border: 0;
}

.feedlink {
  display: inline-block;
  padding-left: 2px;
}

.editpost {
  background-color: #ECECEC;
}

.editpost .bugs .summary {
  color: #666666;
  font-size: 14px;
}

.editpost .bugs .header {
  color: #333333;
}

.editpost .bugs {
  margin-bottom: 2em;
}

.editpost .bugs ul {
  list-style: none;
  padding-left: 0px;
  font-size: 12px;
  margin: 0px;
}

.editpost .bugs li {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.editpost .bug {
  margin-top: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

textarea {
  border: 1px solid #CCC;

  /* Make resizeable textareas in Firefox float over other content rather than
     under, see bug 563440 */
  position: relative;
}

.hidden {
  display: none;
}

.right-note {
  float: right;
  color: #444;
  font-size: smaller;
}

.right-note a {
  color: inherit !important;
}

.note {
  width: 80%;
  width: calc(100% - 30px);
  margin: 5px 15px;
  background-color: #C9F2E7;
}
